.container{
    display: grid;
    gap:5px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6,200px);
}

img{
width: 100%;
height: 100%;
}

.big{
    grid-column: span 6;
    grid-row: span 2;
}
.normal{
    grid-row: span 2;
    grid-column: span 2;
}
.col{
    grid-column: span 2;
    grid-row: span 1;
}
.smal{
    grid-column: span 1;
    grid-row: span 1;
}
.conta{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px) 100px 100px;

}
.box{
background-color:red;
margin: 10px;
padding: 10px;
}

.footer{
grid-column: span 3;

}
.box1{
    grid-row: span 5;
   
}

@media screen and (max-width:576px){
    .container{
    display: grid;
    gap:5px;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(6,200px); */
    }
    .big,.col,.container,.normal,.smal{
        grid-row: span 1;
        grid-column: span 1;
    }

}
